.Topbar {
  width: calc(100vw - 140px);
  height: 77px;
  background: #ffffff;
  border-radius: 0px 0px 20px 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.03));
  display: flex;
  justify-content: space-between;
  padding: 0px 35px 0 35px;
  align-items: center;
  margin-bottom: 10px;
}
.left-tb > p {
  color: #231f20;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.mid-tb {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mid-tb > input {
  width: 381px;
  height: 39.063px;
  background: linear-gradient(
    90deg,
    rgba(70, 79, 235, 0.1) 10.42%,
    rgba(131, 48, 233, 0.1) 100%
  );
  color: var(--colors-black-100, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border-radius: 20px;
  padding: 15px;
  padding-left: 40px;
}
.mid-tb > input:focus {
  border: 0;
  outline: 0;
}
.mid-tb > img {
  left: 35px;
  position: relative;
}
.right-tb {
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-tb > button {
    margin-right: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  border-radius: 100px;
  background: var(
    --Gradient-1,
    linear-gradient(90deg, #464feb 10.42%, #8330e9 100%)
  );

  /* Elevation/Light/Shadow 08 */
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12),
    0px 4px 8px 0px rgba(0, 0, 0, 0.14);
    padding: 10px 15px 10px 15px;
    color: white;
}
.right-tb > button > img{
    margin-right: 5px;
}
.notification-btn{
    margin-right: 1.3rem;
}