.MainContent{
    width: calc(100vw - 96px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.data-records{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
}